# Environment
.env

# Composer
/vendor/

# CI4 Writable Folder
/writable/*
!writable/.gitignore

# Node Modules (jika menggunakan npm untuk frontend development)
/node_modules/

# IDEs and Editors
.vscode/
.idea/

# Log and Cache files
*.log
*.cache
